<div th:fragment="userform (objname)" th:with="cmdobj=${__${objname}__}" th:unless="${__${objname}__}==null">
  <form action="#" th:action="${cmdobj.resp.formAction}" th:object="${__${objname}__}" method="post">
    <input type="text" th:field="*{username}" />
    <button type="submit" th:name="${cmdobj.resp.cfg.addUserHttpParam}" th:text="Adduser">Add user</button>
  </form>
  
  <table>
    <tbody>
      <tr th:each="user : ${cmdobj.resp.datasource}">
      <td th:text="${user.username}">Username</td>
      <td th:each="auth : ${user.authorities}">
        <span th:text="#{|role.${auth.role}|}">role</span>
      </td>
    </tbody>
  </table>
</div>


